<!-- App Section -->
    <section id="app">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">APFT Calculator</h2>
                    <h3 class="section-subheading text-muted">The #1 paid APFT App!</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                        <ul class="list-unstyled">
                            <li>The most complete APFT Calculator on the iPhone</li><br />
                            <ul class="greencheck">
                                <li>Calculate APFT score</li>
                                <li>Calculate Body Fat & Weight Standard</li>
                                <li>Store Soldiers’ information</li>
                                <li>Fill Adobe PDF or PureEdge forms</li>
                                <li>Universal App - One App for the iPhone and iPad</li>
                            </ul>
                        </ul>
                        </div>
                    </div>
                    <br>
                    <div class="row text-center">
                        <a href="itms://itunes.apple.com/us/app/army-fitness-apft-calculator/id380834987?mt=8" title="itms://itunes.apple.com/us/app/army-fitness-apft-calculator/id380834987?mt=8"><img src="img/app-store-badge.png" alt="" /></a> <!-- style="border: none; height: 75px; width: 150px; "-->
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="row">
                        <img src="img/app/APFT_files/APFT-iPhone6-SG.png" alt="" style="border: none; height: 506px; width: 289px; position:absolute; left:-16px;" />
                        <div id="slides" >
                            <div class="slides_container" style="height: 322px; width: 181px;  left: 38px; position: absolute; top: 93px; z-index: 3; ">
                                <a><img src="img/portfolio/Score.PNG" width="181" height="322" alt="Slide 1"></a>
                                <a><img src="img/portfolio/BodyFatWorksheet.PNG" width="181" height="322" alt="Slide 2"></a>
                                <a><img src="img/portfolio/QuickWeight.PNG" width="181" height="322" alt="Slide 3"></a>
                                <a><img src="img/portfolio/Profile.PNG" width="181" height="322" alt="Slide 4"></a>
                            </div>
                            <a href="#" class="prev"><img src="img/arrow-prev.png" width="24" height="43" alt="Arrow Prev" style="position:absolute; left:2px; top:230px;"></a>
                            <a href="#" class="next"><img src="img/arrow-next.png" width="24" height="43" alt="Arrow Next" style="position:absolute; left:231px; top:230px;"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>