<!-- Privacy Section -->
<section id="privacy">
  <div class="container">
    
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Privacy Policy</h2>
      </div>
    </div>

    <div class="row">
      <strong>No personal information is collected while using this application</strong><br><br>
      <p>This application does not collect or have access to any of your personal information.</p>    
      <p>Individual settings and data relating to this application are stored only on your device. You might be asked to provide access to your photo library, this is so that you can open your photos in the app and save photos to identify Soldiers you store in the app. The information is not processed in any other way and the app owner does not have access to the saved data.</p>
    </div>
  </div>
</section>